POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DATABASE=my_database
MODE=DEV
RUN_MIGRATIONS=true

# Ports
EDRADOP=3000;
ANALYTIC=3001;
AUTHENTICATION=3002;
COMMUNICATION=3003;
PAYMENT=3004;
STORAGE=3005;
USER=3006;